##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## Visual Studio Code
##############################
.vscode
.venv
venv
__pycache__
.pytest_cache
##############################
## CUSTOM
##############################
.fake
.ionide

